.sidebar-container {
    width: 100%;
    height: 100%;
    background-color: rgba(173, 26, 26, 0);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
    box-shadow: 0px 0px 6px 0px rgb(175, 162, 162, 0.5);
}

.sidebar-container .sidebar-visible {
    border-right: 0px solid rgba(255, 255, 255, 0.264);
}

.sidebar-menu-toggle {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 0, 0, 0);
}

.sidebar-menu-toggle-inner {
    width: 90px;
    height: 100%;
    transition: width 1s ease;
    background-color: rgb(7, 230, 85, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar-menu-toggle-inner-content {
    width: 80%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.sidebar-menu-toggle-inner.sidebar-visible {
    width: 80px;
    height: 100%;
    background-color: rgb(7, 230, 85, 0);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.sidebar-menu-toggle-inner button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
    border-radius: 6px;
}

.sidebar-menu-toggle-inner:hover .icon-bar {
    opacity: 1;
}

.icon-bar {
    width: 25px;
    height: 2.1px;
    background-color: white;
    margin: 3px 0;
    transition: transform 0.5s ease;
    opacity: 0.6;
}

.icon-bar.rotate:nth-child(1) {
    opacity: 1;
    transform: rotate(90deg) translate(9px, -8px);
    width: 19px;
}

.icon-bar.rotate:nth-child(2) {
    opacity: 1;
    transform: rotate(90deg) translate(1px, 0px);
    width: 22px;

}

.icon-bar.rotate:nth-child(3) {
    opacity: 1;
    transform: rotate(90deg) translate(-7px, 8px);
    width: 25px;
}

.sidebar-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(128, 0, 100, 0);
    color: white;
}

.sidebar-small-container {
    width: 90px;
    background-color: rgba(0, 0, 255, 0);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: width 1s ease;
}

.sidebar-small-container.shrink {
    width: 70px;
    transition: width 1s ease;
    border-right: 0px solid rgba(255, 255, 255, 0.264);
    justify-content: right;
    align-items: center;
}

.sidebar-large-container {
    width: 0;
    background-color: rgb(32, 195, 111, 0);
    height: 100%;
    overflow: hidden;
    transition: width 1s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar-large-container.expand {
    width: 220px;
    transition: width 0.8s ease;
}

.sidebar-large-container.expand > div {
    visibility: hidden;
}

.sidebar-large-container.expand.visible > div {
    visibility: visible;
    color: white;
}

.sidebar-small-container-content {
    background-color: rgba(255, 255, 255, 0);
    width: 95%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sidebar-small-container-content ul {
    background-color: rgba(151, 16, 16, 0);
    width: 90% !important;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 10px;
}
.sidebar-small-container-content button {
    background-color: rgba(16, 151, 23, 0);
    width: 55px !important;
    height: 50px;
    border-radius: 6px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
    border: 0 !important;
}
.sidebar-small-container-content button:hover {
    background-color: rgba(91, 91, 91, 0.367);
}
.sidebar-small-container-content li {
    background-color: rgba(16, 151, 23, 0);
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-small-per-item {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.sidebar-large-container-content {
    background-color: rgba(255, 255, 255, 0);
    width: 95%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.sidebar-large-container-content ul {
    background-color: rgba(151, 16, 16, 0);
    width: 90% !important;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 10px;
}
.sidebar-large-container-content button {
    background-color: rgba(16, 151, 23, 0);
    width: 100% !important;
    height: 50px;
    border-radius: 6px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
    border: 0 !important;
}
.sidebar-large-container-content button:hover {
    background-color: rgba(91, 91, 91, 0.367);
}
.sidebar-large-container-content li {
    background-color: rgba(16, 151, 23, 0);
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-large-per-item {
    width: 90%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
}