/* Navbar.css */
.site-navbar {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  height: 100%;
  box-shadow: 0px 1px 10px 1px rgb(175, 162, 162, 0.5);
  z-index: 0;

}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(112, 128, 24, 0);
  width: 100%;
  height: 100%;
  border-bottom: 0px solid rgba(255, 255, 255, 0.427);
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(239, 31, 8, 0);
}

.app-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  width: 85px !important;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 0px solid rgba(255, 255, 255, 0.453);
}

.app-logo img {
  width: 100px;
  height: 90px;
}


.menu-items-containter {
  position: relative;
  text-align: right;
  display: flex;
  flex-direction: row;
  background-color: rgba(9, 123, 106, 0);
  height: 100%;
  width: 100%;
  box-shadow: 0 0 20px 0px rgba(49, 49, 49, 0);
  border-bottom: 0px solid rgba(255, 255, 255, 0.18);
}



.left-side-menu-items {
  width: 680px;
  position: relative;
  background-color: rgba(255, 0, 0, 0);
  text-align: left;
  display: flex;
}

.right-side-menu-items {
  background-color: rgba(0, 255, 51, 0);
  position: relative;
  width: 680px;
  text-align: right;
  display: flex;
}



.right-menu {
  width: 100%;
  position: relative;
  background-color: rgba(255, 0, 0, 0);
  text-align: right;
  padding: 0;
}

.left-menu {
  width: 100%;
  position: relative;
  background-color: rgba(255, 0, 0, 0);
  text-align: left;
  padding: 0;
}




.top-nav .left-menu li,
.top-nav .right-menu li {
  background-color: rgba(255, 255, 255, 0);
  display: inline-block;
}




.top-nav .left-menu li a,
.top-nav .right-menu li a {
  display: block;
  padding: 14px 18px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  position: relative;
}




.top-nav.scrolled .left-menu li a:hover,
.top-nav.scrolled .right-menu li a:hover {
  color: #fff;
}



/* Animation Styles */
.top-nav.animation {
  animation: nav-slide 0.5s ease;
}

@keyframes nav-slide {
  0% {
    transform: translateY(-90%);
  }

  100% {
    transform: translateY(0);
  }
}



#navbar-access-logout a,
#navbar-access a {
  border: 1px solid white;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  border-color: white;
  margin-right: 15px;
  margin-left: 15px;
}

#navbar-access-logout a:hover,
#navbar-access a:hover {
  background-color: rgb(222, 222, 222);
  border-radius: 10px 10px 10px 10px;
  color: black;
}



.top-nav .right-menu li a::after,
.top-nav .left-menu li a::after {
  content: "";
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 0;
  text-align: center;
  width: 90%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.top-nav .right-menu li:not(#navbar-access, #navbar-access-logout) a:hover::after,
.top-nav .left-menu li:not(#navbar-access, #navbar-access-logout) a:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}