.expanded-overlay {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.88); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
    color: white;
  }
  
  .expanded-close-button {
    position: absolute;
    transform: translateX(580%) translateY(-180%);
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    font-size: 35px;
}


  .expanded-post-container {
    background-color: rgba(197, 52, 52, 0.847);
    padding: 0px;
    margin-top: 0px;
    border-radius: 0;
    max-width: 1300px;
    min-height: 400px;
    max-height: 750px;
    height: auto;
    overflow-y: fixed;
    min-width: 260px;
    width: auto;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
  }


.expanded-post-previous-next-post-buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: space-between;
    background-color: rgba(17, 189, 89, 0) !important;
    /* transform: translateY(320px); */
    top: 360px;
    padding: 10px;
    width: 98%;
    margin: 0;
    z-index: 100;
}


.expanded-post-next-post-button,
.expanded-post-previous-post-button {
    border: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(164, 28, 28, 0) !important;
    z-index: 100;
}


.expanded-post-previous-post-button button,
.expanded-post-next-post-button button{
    background-color: rgba(153, 153, 153, 0.603);
    border: 0px solid gray;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    padding: 0px;
    font-size: 18px;
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    z-index: 100;
}


.expanded-post-previous-post-button:hover button,
.expanded-post-next-post-button:hover button {
  box-shadow: 0 0 4px 2px rgb(189, 180, 180);
  border: 0;
  z-index: 100;
}

