.personal-profile-container {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
}

.personal-profile-header {
    background-color: rgba(255, 255, 255, 0);
    width: 99%;
    height: 70px;
    line-height: 0.4 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.personal-profile-header h2 {
    color: rgb(222, 222, 222);
    font-size: 24px;
    background-color: rgba(255, 0, 0, 0) !important;
    width: 200px;
}
.personal-profile-header h3 {
    color: rgb(159, 157, 157);
    font-size: 16px;
    background-color: rgba(255, 0, 0, 0) !important;
}

.personal-profile-mode-switch-tab {
    background-color: rgba(0, 128, 0, 0);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.personal-profile-mode-switch-tab-inner {
    background-color: rgb(128, 34, 0, 0);
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
}
.personal-profile-academic-tab {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.personal-profile-interaction-tab {
    flex-grow: 1;
    height: 100%;
    background-color: rgb(0, 255, 247, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.personal-profile-mode-switch-tab-inner button {
    border: 0px solid white;
    background-color: rgba(0, 147, 142, 0.681);
    padding: 5px;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 16px;
}

.personal-profile-academic-tab button {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.personal-profile-academic-tab button:hover {
    background-color: black;
    box-shadow: -2px 0px 2px 2px rgba(1, 130, 117, 0.689);
}

.personal-profile-interaction-tab button {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.personal-profile-interaction-tab button:hover {
    background-color: black;
    box-shadow: 2px 0px 2px 2px rgba(1, 130, 117, 0.689);
}

.personal-profile-interaction-tab.active button,
.personal-profile-academic-tab.active button {
    background-color: rgba(0, 147, 142, 0.341);
}
.personal-profile-interaction-tab.active button:hover,
.personal-profile-academic-tab.active button:hover {
    background-color: black;
}

.personal-profile-description {
    background-color: rgba(255, 0, 0, 0);
    height: 100%;
    width: 40%;
    gap: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.personal-profile-description div {
    font-size: 10px;
    color: gray;
}

.personal-profile-container-inner {
    background-color: rgb(43, 184, 99, 0);
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.personal-profile-content {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.personal-profile-content-left {
    background-color: rgb(0, 136, 255, 0);
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    text-align: center;
    gap: 20px;
}


.personal-profile-content-right {
    background-color: rgba(0, 128, 0, 0);
    flex-grow: 1;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.personal-profile-content-right-sub {
    background-color: rgba(255, 255, 0, 0);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}
.personal-profile-right-edit-bar-toggle-chevron {
    height: 100%;
    width: 30px;
    background-color: rgb(176, 22, 22, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.personal-profile-right-edit-bar-toggle-chevron .chevron-icon {
    font-size: 20px;
    color: #8c8c8c;
    transition: transform 0.8s ease, color 0.3s ease;;
}
.personal-profile-right-edit-bar-toggle-chevron .chevron-icon:hover {
    color: #ffffff;
}
.personal-profile-right-edit-bar-toggle-chevron .chevron-icon.collapsed {
    transform: rotate(180deg);
}

.personal-profile-content-right-inner {
    background-color: rgba(255, 0, 0, 0);
    width: 80%;
    height: 100%;
    border-left: 0px solid rgba(128, 128, 128, 0.434);
    transition: width 1s ease, visibility 0s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;
    box-shadow: -2px -1px 5px 1px rgb(115, 115, 115, 0.5);
}

.personal-profile-content-right-inner.collapsed {
    background-color: rgba(0, 255, 30, 0);
    width: 0%;
    visibility: hidden;
    pointer-events: none;
}




.personal-profile-content-right-inner-inner {
    background-color: rgba(0, 0, 255, 0);
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.personal-profile-edit-per-tab {
    background-color: rgba(0, 128, 0, 0);
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.personal-profile-edit-per-tab:hover {
    background-color: rgba(0, 172, 164, 0.371);
    cursor: pointer;
}
.personal-profile-edit-per-tab-inner {
    background-color: rgba(255, 255, 0, 0);
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.personal-profile-user-basic-info {
    background-color: rgb(0, 27, 30);
    /* min-height: 8%; */
    height: 200px;
    /* height: auto; */
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal-profile-user-basic-info-inner {
    background-color: rgba(255, 255, 255, 0);
    width: 97%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}



.personal-profile-user-basic-info-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(166, 18, 18, 0);
    width: 50%;
    height: 100%;
}

.personal-profile-user-basic-info-left-side-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(54, 4, 4, 0);
    width: 95%;
    height: 80%;
}

.personal-profile-user-profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(178, 12, 12, 0);
}

.personal-profile-user-profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}

.personal-profile-user-info-text {
    text-align: left;
    background-color: rgb(0, 247, 255, 0);
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 3px;
}

.personal-profile-name-text {
    font-size: 16px;
}

.personal-profile-username-text {
    color: rgb(168, 168, 168);
    font-size: 14px;
}

.personal-profile-user-basic-info-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 247, 255, 0.3);
    flex-grow: 1;
    height: 100%;
}



















.personal-profile-interaction-tab-content {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.personal-profile-interaction-tab-content-inner {
    background-color: rgb(166, 20, 20, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.personal-profile-interaction-tab-user-info-container {
    background-color: rgb(20, 166, 98, 0);
    width: 100%;
    margin-top: 1%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.personal-profile-interaction-tab-user-info-container-inner {
    background-color: rgb(0, 27, 30);
    width: 99%;
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-radius: 12px;
}

.personal-profile-interaction-tab-user-info-container-inner-inner {
    width: 96%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    background-color: rgb(151, 98, 98, 0);
}

.personal-profile-interaction-tab-user-info-container-inner-right {
    background-color: rgb(91, 5, 5, 0);
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start !important;
    gap: 10px;
}


.personal-profile-interaction-user-profile-picture-container {
    width: 100px;
    height: 100%;
    background-color: rgba(42, 178, 12, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-profile-interaction-user-profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(42, 178, 12, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-profile-interaction-user-profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(23, 164, 157, 0);
}

.personal-profile-interaction-user-info-text {
    text-align: left;
    background-color: rgb(0, 247, 255, 0);
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 3px;
}

.personal-profile-interaction-name-text {
    font-size: 16px;
}

.personal-profile-interaction-username-text {
    color: rgb(168, 168, 168);
    font-size: 14px;
}







.personal-profile-interaction-content-container {
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: row;
}

.personal-profile-interaction-posts-grid {
    background-color: rgba(255, 255, 255, 0);
    width: 75%;
    /* flex-grow: 1; */
    margin-bottom: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.personal-profile-interaction-posts-grid-inner {
    background-color: rgba(0, 242, 255, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /* height: 100%; */
}



.personal-profile-interaction-right-sidebar {
    width: 25%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.personal-profile-interaction-right-sidebar-inner {
    margin-top: 2.5%;
    width: 92%;
    height: 500px;
    background-color: rgba(30, 161, 184, 0.214); 
    border-radius: 8px;  
}



.personal-profile-interaction-tab-user-info-container-inner-left {
    background-color: rgba(255, 0, 0, 0);
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.personal-profile-user-info-followers-following-posts-counts-widget-container {
    background-color: rgb(15, 15, 15);
    height: 70%;
    aspect-ratio: 1.7 / 1;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 0.2px solid rgba(128, 128, 128, 0.318);
}

.personal-profile-posts-count-container {
    background-color: rgba(0, 128, 0, 0);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal-profile-followers-following-count-container {
    background-color: rgb(0, 75, 128, 0);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.personal-profile-followers-following-count-container p:hover {
    cursor: pointer;
}