.learner-profile-container {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;
    overflow-y: auto;
    text-align: left;
}

.learner-profile-header {
    background-color: rgba(255, 255, 255, 0);
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learner-profile-header h3 {
    color: rgb(159, 157, 157);
    line-height: 0;
}

.learner-profile-description {
    background-color: rgba(255, 0, 0, 0);
    height: 100%;
    width: 40%;
    gap: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.learner-profile-description div {
    font-size: 10px;
    color: gray;
}

.learner-profile-container-inner {
    background-color: rgb(43, 184, 99, 0);
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.learner-profile-content {
    background-color: rgba(255, 0, 0, 0);
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.learner-profile-content-inner {
    background-color: rgb(0, 136, 255, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    text-align: center;
    gap: 20px;
}

.learner-profile-module-content {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    text-align: center;
    padding-bottom: 15px;
}

.learner-profile-user-basic-info {
    background-color: rgb(0, 27, 30);
    min-height: 30%;
    height: auto;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learner-profile-user-basic-info-inner {
    background-color: rgba(255, 255, 255, 0);
    width: 97%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}



.learner-profile-user-basic-info-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(166, 18, 18, 0);
    width: 50%;
    height: 100%;
}

.learner-profile-user-basic-info-left-side-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(54, 4, 4, 0);
    width: 95%;
    height: 80%;
}

.learner-profile-user-profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(178, 12, 12, 0);
}

.learner-profile-user-profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}

.learner-profile-user-info-text {
    text-align: left;
    background-color: rgb(0, 247, 255, 0);
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 3px;
}

.learner-profile-name-text {
    font-size: 16px;
}

.learner-profile-username-text {
    color: rgb(168, 168, 168);
    font-size: 14px;
}

.learner-profile-user-basic-info-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 247, 255, 0.3);
    flex-grow: 1;
    height: 100%;
}


.learner-profile-user-module-info {
    background-color: rgb(0, 27, 30);
    height: auto;
    max-width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.learner-profile-user-module-info-title-container {
    width: 97%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    font-size: 15px;
    color: rgb(231, 231, 231);
}


.learner-profile-user-module-info-inner {
    background-color: rgba(255, 255, 255, 0);
    width: 97%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin-top: 1%;
}

.learner-profile-user-module-per-institution {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    gap: 5px;
    text-align: left;
    border-bottom: 0px solid gray;
}


.learner-profile-user-module-per-institution-inner {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    gap: 5px;
    text-align: left;
}

.learner-profile-module-institution-title-container h3 {
    color: rgb(236, 236, 236);
    background-color: red;
    line-height: 0;
    font-size: 16px;
}

.learner-profile-module-institution-date-data-container p {
    color: rgb(159, 157, 157);
    font-size: 13px;
}

.learner-profile-module-institution-date-data-container {
    flex-grow: 1;
}

.learner-eduacation-institution-description-text-container {
    color: rgb(209, 209, 209);
    font-size: 14px;
}