.sidebar-small-container-content {
    background-color: rgba(255, 255, 255, 0);
    width: 95%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar-small-container-content ul {
    background-color: rgba(151, 16, 16, 0);
    width: 90% !important;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 10px;
}
.sidebar-small-container-content button {
    background-color: rgba(16, 151, 23, 0);
    width: 55px !important;
    height: 50px;
    border-radius: 6px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
    border: 0 !important;
}
.sidebar-small-container-content button:hover {
    background-color: rgba(91, 91, 91, 0.367);
}
.sidebar-small-container-content li {
    background-color: rgba(16, 151, 23, 0);
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-small-per-item {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.sidebar-small-container {
    width: 90px;
    background-color: rgba(0, 0, 255, 0);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: width 1s ease;
}

.sidebar-small-container.shrink {
    width: 70px;
    transition: width 1s ease;
    border-right: 0px solid rgba(255, 255, 255, 0.264);
    justify-content: right;
    align-items: center;
}